---
layout: layouts/base.njk
title: About Us
pageDescription: Learn about Banfield Pet Hospital - your trusted partner in pet healthcare since 1955. We provide comprehensive veterinary care for dogs, cats, and other pets.
---

<div class="container">
    <div class="hero-blog hero-about-company">
        <h1 class="hero-blog__heading">
            About us
        </h1>
        <p class="hero-blog__text">
            A dog, a cat and a parrot ... How much joy and warmth these cheerful friends bring to our house. 
            <br><br>
            Under the terms of the campaign, our clinic offers a free "Daily Inpatient" service, which will save you time.
            You have the opportunity to go with us. 
        </p>
    </div>
</div>

<!-- INFO -->
<div class="company-info">
    <div class="container">
        <div class="company-info__wrapper">
            <div class="company-info__content">
                <img src="/images/about-company-info-house.png" alt="Veterinary clinic building exterior" width="705" height="450">
                <p class="company-info__text company-info__text__orange">
                    When deciding whether to have a pet, or already having one,<span class="company-info__text__orange">we must not forget that</span> an animal is a living organism that requires not only our love, but also care for its health and appearance. <span class="company-info__text__orange">The owner's </span> responsibility is to strictly follow the rules for caring for animals, to consult a doctor in a timely manner for advice and help in resolving any issue. After all, we are responsible for those we have tamed! 
                </p>
            </div>
            <div class="company-info__content">
                <div class="company-info__text__wrapper">
                    <p class="company-info__text">
                        The veterinary clinic provides a wide range of services, ranging from simple preventive measures to complex surgical procedures. We carry out X-ray and ultrasound examinations, as well as general clinical and biochemical blood tests. A general urine analysis with sediment microscopy is performed.  <br><br><br>
                        Only here. You can test your cat's blood for diseases such as  <span class="company-info__text__blue">panleukopenia, calcivirosis, herpesvirus infection, coronavirus, toxoplasmosis, and chlamydia.</span> And also dogs for diseases such as <span class="company-info__text__blue">infectious hepatitis, parvovirus enteritis, carnivore plague.</span>  The full range of services can be found here. 
                    </p>
                </div>
                <img src="/images/about-company-info-dog.png" alt="Happy dog at veterinary clinic" width="705" height="450">
            </div>
            
            <!-- Feature Section -->
            <section class="company-feature">
                <div class="container">
                    <div class="company-feature__wrapper">
                        <div class="company-feature__content">
                            <h2 class="company-feature__heading">
                                Do you want to <span>trim your pet?</span>
                            </h2>
                            <p class="company-feature__text">
                                There is a groomer's office in the hospital, after visiting which, your pet will be especially gorgeous and attractive.
                            </p>
                        </div>
                        <div class="company-feature__img">
                            <img src="/images/feature-vet-woman.png" alt="Professional veterinarian" srcset="/images/feature-vet-woman.png 1x, /images/feature-vet-woman@2x.png 2x" width="307" height="400">
                            <img src="/images/feature-cat.png" alt="Cat at grooming salon" srcset="/images/feature-cat.png 1x, /images/feature-cat@2x.png 2x" width="307" height="400">
                            <img src="/images/feature-dog.png" alt="Dog after grooming" srcset="/images/feature-dog.png 1x, /images/feature-dog@2x.png 2x" width="307" height="400">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- /INFO -->
