---
layout: layouts/base.njk
title: Contact
pageDescription: Contact Banfield Pet Hospital. Find our location, phone numbers, and business hours for veterinary services.
---

<section class="contact">
    <div class="container">
        <div class="contact-mega-area">
            <div class="contact-area">
                <div class="contact-info">
                    <h1 class="contact-info__heading main-heading">
                        How to contact us? 
                    </h1>
                    
                    <p class="contact-info__desc main-desc">
                        You can find out information about our services, make an appointment with a doctor or consult by phone, at any time convenient for you. 
                    </p>
                </div>
                
                <div class="contact-date">
                    <address class="header-top__address">
                        {{ site.address }}
                    </address>
                    
                    <ul class="header-top__list-time">
                        <li class="header-top__item-time">
                            <span class="header-top__time">{{ site.hours.weekdays }}</span>
                        </li>
                        
                        <li class="header-top__item-time">
                            <span class="header-top__time">{{ site.hours.weekends }}</span> 
                        </li>
                    </ul>
                    
                    <ul class="header-top__list-tel">
                        {% for phone in site.phones %}
                        <li class="header-top__item-tel">
                            <a class="header-top__tel" href="{{ phone.href }}">
                                {{ phone.display }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Location -->
<section class="location">
    <div class="container">
        <h2 class="location__heading main-heading">
            How to find us? 
        </h2>
        
        <div class="location-info">
            <iframe class="location-info__map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1642.8933820008147!2d-86.969013!3d34.558954!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd64c310e5c380a9a!2sBanfield%20Pet%20Hospital!5e0!3m2!1sen!2sus!4v1638806815683!5m2!1sen!2sus" width="847" height="512" style="border:0;" allowfullscreen="" loading="lazy" title="Banfield Pet Hospital location map"></iframe>
            
            <img class="location-info__img" src="{{ '/images/location-home.png' | url }}" alt="Banfield Pet Hospital building" width="769" height="512">
        </div>
    </div>
</section>
