---
layout: layouts/base.njk
title: FAQ
pageDescription: Find answers to frequently asked questions about pet care, veterinary services, and appointments at Banfield Pet Hospital.
---

<section class="faq">
    <div class="container">
        <div class="faq-info">
            <h1 class="faq__heading main-heading">
                F.A.Q
            </h1>
            
            <p class="faq__desc main-desc">
                You can find out information about our services, make an appointment with a doctor or consult by phone, at any time convenient for you. 
            </p>
            
            <button class="faq__btn js-modal-open">
                Ask a question 
            </button>
        </div>
        
        <ul class="faq-list">
            <li class="faq-list__item">
                <div class="faq-list__item__area">
                    <time class="faq-list__item__area-time" datetime="2021-08-12">
                        12.08.2021
                    </time>
                    
                    <a class="faq-list__item__area-link" href="#">
                        Sample doctor name
                    </a>
                </div>
                
                <button class="faq-list__item__btn main-heading" aria-expanded="false">
                    How often should you treat fleas and ticks? 
                </button>
                
                <p class="faq-list__item__desc main-desc">
                    The highest quality flea and tick drops usually last no more than one month. Therefore, dogs and cats should be treated for fleas at exactly this frequency. Treatments with antiparasitic drops are especially relevant for dogs in the period from March to December, when ticks become more active. The Veterinary Complex "Peredovoy" will help you to choose a preparation against fleas and ticks. Also here you will be helped in calculating the dosage of these drugs. 
                </p>
            </li>
            
            <li class="faq-list__item">
                <div class="faq-list__item__area">
                    <time class="faq-list__item__area-time" datetime="2021-09-15">
                        15.09.2021
                    </time>
                    
                    <a class="faq-list__item__area-link" href="#">
                        Sample doctor name
                    </a>
                </div>
                
                <button class="faq-list__item__btn main-heading" aria-expanded="false">
                    How often should you treat fleas and ticks? 
                </button>
                
                <p class="faq-list__item__desc main-desc">
                    The highest quality flea and tick drops usually last no more than one month. Therefore, dogs and cats should be treated for fleas at exactly this frequency. Treatments with antiparasitic drops are especially relevant for dogs in the period from March to December, when ticks become more active. The Veterinary Complex "Peredovoy" will help you to choose a preparation against fleas and ticks. Also here you will be helped in calculating the dosage of these drugs. 
                </p>
            </li>
            
            <li class="faq-list__item">
                <div class="faq-list__item__area">
                    <time class="faq-list__item__area-time" datetime="2021-09-17">
                        17.09.2021
                    </time>
                    
                    <a class="faq-list__item__area-link" href="#">
                        Sample doctor name
                    </a>
                </div>
                
                <button class="faq-list__item__btn main-heading" aria-expanded="false">
                    Should a cat or dog never be taken outside because it can bring fleas into the house? 
                </button>
                
                <p class="faq-list__item__desc main-desc">
                    The highest quality flea and tick drops usually last no more than one month. Therefore, dogs and cats should be treated for fleas at exactly this frequency. Treatments with antiparasitic drops are especially relevant for dogs in the period from March to December, when ticks become more active. The Veterinary Complex "Peredovoy" will help you to choose a preparation against fleas and ticks. Also here you will be helped in calculating the dosage of these drugs. 
                </p>
            </li>
            
            <li class="faq-list__item">
                <div class="faq-list__item__area">
                    <time class="faq-list__item__area-time" datetime="2021-10-13">
                        13.10.2021
                    </time>
                    
                    <a class="faq-list__item__area-link" href="#">
                        Sample doctor name
                    </a>
                </div>
                
                <button class="faq-list__item__btn main-heading" aria-expanded="false">
                    Should a cat or dog never be taken outside because it can bring fleas into the house? 
                </button>
                
                <p class="faq-list__item__desc main-desc">
                    The highest quality flea and tick drops usually last no more than one month. Therefore, dogs and cats should be treated for fleas at exactly this frequency. Treatments with antiparasitic drops are especially relevant for dogs in the period from March to December, when ticks become more active. The Veterinary Complex "Peredovoy" will help you to choose a preparation against fleas and ticks. Also here you will be helped in calculating the dosage of these drugs. 
                </p>
            </li>
            
            <li class="faq-list__item">
                <div class="faq-list__item__area">
                    <time class="faq-list__item__area-time" datetime="2021-10-19">
                        19.10.2021
                    </time>
                    
                    <a class="faq-list__item__area-link" href="#">
                        Sample doctor name
                    </a>
                </div>
                
                <button class="faq-list__item__btn main-heading" aria-expanded="false">
                    How to clean the eyes of a dog or cat? 
                </button>
                
                <p class="faq-list__item__desc main-desc">
                    The highest quality flea and tick drops usually last no more than one month. Therefore, dogs and cats should be treated for fleas at exactly this frequency. Treatments with antiparasitic drops are especially relevant for dogs in the period from March to December, when ticks become more active. The Veterinary Complex "Peredovoy" will help you to choose a preparation against fleas and ticks. Also here you will be helped in calculating the dosage of these drugs. 
                </p>
            </li>
            
            <li class="faq-list__item qa">
                <div class="faq-list__item__area">
                    <time class="faq-list__item__area-time" datetime="2021-10-29">
                        29.10.2021
                    </time>
                    
                    <a class="faq-list__item__area-link" href="#">
                        Sample doctor name
                    </a>
                </div>
                
                <button class="faq-list__item__btn main-heading qa-question__toggler" aria-expanded="false">
                    Why are vitamins needed and at what age should they be given? 
                </button>
                
                <p class="faq-list__item__desc main-desc">
                    The highest quality flea and tick drops usually last no more than one month. Therefore, dogs and cats should be treated for fleas at exactly this frequency. Treatments with antiparasitic drops are especially relevant for dogs in the period from March to December, when ticks become more active. The Veterinary Complex "Peredovoy" will help you to choose a preparation against fleas and ticks. Also here you will be helped in calculating the dosage of these drugs. 
                </p>
            </li>
        </ul>
    </div>
</section>
