---
layout: layouts/base.njk
title: Home
pageDescription: Professional veterinary care for your beloved pets. We provide comprehensive healthcare services for dogs, cats, and other pets at Banfield Pet Hospital.
---

<section class="work">
    <div class="container">
        <div class="work-info">
            <h1 class="work-info__heading main-heading">
                We care about <span class="work-info__heading-edit"> your pets! </span> 
            </h1>
            
            <p class="work-info__desc main-desc">
                You and your pet are provided with a variety of diagnostic, disease prevention, treatment, and care services in our clinic. Professionals working with us will do everything so quickly, efficiently, and painlessly perform any procedures that your pet needs.
            </p>
            
            <a class="work-info__link main-link" href="#our-service">
                Our services
            </a>
        </div>
    </div>
</section>

<!-- About -->
<div class="about">
    <div class="container">
        <div class="about-info">
            <p class="about-info__desc main-desc">
                At Banfield Pet Hospital, we believe pets deserve the highest quality
                veterinary care from compassionate professionals you can trust.
            </p>
        </div>
        
        <p class="about__desc main-desc">
            Your trusted partner in pet healthcare since 1955
        </p>
    </div>
</div>
<!-- /About -->

<!-- Services -->
<section class="service" id="our-service">
    <div class="container">
        <h2 class="service__heading main-heading">
            Our services
        </h2>
        
        <ul class="service-list">
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services-open/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        Preliminary inspection 
                    </h3>
                </a>
            </li>
            
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        Surgical intervention 
                    </h3>
                </a>
            </li>
            
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        Dermatology 
                    </h3>
                </a>
            </li>
            
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        Laboratory diagnostics 
                    </h3>
                </a>
            </li>
            
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        Ophthalmology 
                    </h3>
                </a>
            </li>
            
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        Ultrasound diagnostics 
                    </h3>
                </a>
            </li>
            
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        Chipping 
                    </h3>
                </a>
            </li>
            
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        International passports 
                    </h3>
                </a>
            </li>
            
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        Vaccination 
                    </h3>
                </a>
            </li>
            
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        Stomatology 
                    </h3>
                </a>
            </li>
            
            <li class="service-list__item">
                <a href="{{ site.pathPrefix }}/services/" class="service-list__item__link">
                    <h3 class="service-list__item__heading main-heading">
                        Home call 
                    </h3>
                </a>
            </li>
        </ul>
        
        <div class="service-item-area">
            <img class="service-area__img" src="{{ site.pathPrefix }}/images/useful-cat.png" alt="Cat receiving veterinary care" width="590" height="332">
            
            <div class="service-area">
                <h3 class="service-area__heading main-heading">
                    Preliminary inspection 
                </h3>
                
                <p class="service-area__desc main-desc">
                    Under the terms of the campaign, our clinic offers a free "Daily Inpatient" service, which will save you time. <br>You have the opportunity to go with us.
                </p>
                
                <p class="service-area__desc main-desc">
                    Under the terms of the campaign, our clinic offers a free "Daily Inpatient" service, which will save you time. <br>You have the opportunity to go with us.
                </p>
                
                <ul class="service-area__list">
                    <li class="service-area__list__item">
                        <a class="service-area__list__link" href="#">
                            Find out the price 
                        </a>
                    </li>
                    
                    <li class="service-area__list__item">
                        <a class="service-area__list__links" href="{{ site.pathPrefix }}/contact/">
                            Book Now
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /Services -->

<!-- Subscribe -->
<section class="subscribe">
    <div class="container">
        <div class="subscribe-info">
            <h2 class="subscribe-info__heading main-heading">
                Stay up to date with the news 
            </h2>
            
            <form class="subscribe-form" action="#" method="POST" novalidate>
                <label for="subscribe-email" class="visually-hidden">Email address</label>
                <input class="subscribe-form__mail" type="email" id="subscribe-email" name="user_mail" placeholder="Enter your email address" aria-label="Enter your email address" required autocomplete="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                
                <button type="submit" class="subscribe-form__btn">
                    Subscribe
                </button>
            </form>
        </div>
    </div>
</section>
<!-- /Subscribe -->

<!-- Useful -->
<section class="useful">
    <div class="container">
        <h2 class="useful__heading main-heading">
            Useful articles
        </h2>
        
        <ul class="useful-list">
            <li class="useful-list__item">
                <img class="useful-list__img" src="{{ site.pathPrefix }}/images/useful-cat.png" srcset="{{ site.pathPrefix }}/images/useful-cat.png 1x, {{ site.pathPrefix }}/images/useful-cat@2x.png 2x" alt="Cat at veterinary clinic" width="305" height="180">
                
                <div class="useful-list__area">
                    <time class="useful-list__area__time" datetime="2021-12-02">
                        02.12.2021
                    </time>
                    
                    <h3 class="useful-list__area__heading main-heading">
                        Ultrasonic teeth cleaning 
                    </h3>
                    
                    <p class="useful-list__area__desc main-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In debitis reiciendis ut...
                    </p>
                    
                    <a class="useful-list__area__link" href="{{ site.pathPrefix }}/blog/">
                        Read more
                    </a>
                </div>
            </li>
            
            <li class="useful-list__item">
                <img class="useful-list__img" src="{{ site.pathPrefix }}/images/useful-two-dog.png" srcset="{{ site.pathPrefix }}/images/useful-two-dog.png 1x, {{ site.pathPrefix }}/images/useful-two-dog@2x.png 2x" alt="Two dogs playing together" width="305" height="435">
                
                <div class="useful-list__area">
                    <div class="useful-list__area__time-link">
                        <ul class="useful-list__area-list">
                            <li class="useful-list__area__item">
                                <a class="useful-list__area__links" href="#">#dog</a>
                            </li>
                            <li class="useful-list__area__item">
                                <a class="useful-list__area__links" href="#">#house</a>
                            </li>
                            <li class="useful-list__area__item">
                                <a class="useful-list__area__links" href="#">#care</a>
                            </li>
                        </ul>
                        
                        <time class="useful-list__area__time" datetime="2021-12-04">
                            04.12.2021
                        </time>
                    </div>
                    
                    <h3 class="useful-list__area__heading main-heading">
                        Before you get a dog
                    </h3>
                    
                    <p class="useful-list__area__desc main-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus iste soluta sapiente dolorem, est libero quis animi, eaque id magni suscipit quisquam. Incidunt maiores aspernatur dignissimos nihil accusamus ipsam fugit...
                    </p>
                    
                    <a class="useful-list__area__link" href="{{ site.pathPrefix }}/blog/">
                        Read more
                    </a>
                </div>
            </li>
            
            <li class="useful-list__item">
                <img class="useful-list__img" src="{{ site.pathPrefix }}/images/useful-dog.png" srcset="{{ site.pathPrefix }}/images/useful-dog.png 1x, {{ site.pathPrefix }}/images/useful-dog@2x.png 2x" alt="Dog at veterinary checkup" width="305" height="180">
                
                <div class="useful-list__area">
                    <time class="useful-list__area__time" datetime="2021-11-28">
                        28.11.2021
                    </time>
                    
                    <h3 class="useful-list__area__heading main-heading">
                        When should a pet be vaccinated? 
                    </h3>
                    
                    <p class="useful-list__area__desc main-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatum provident fuga qui...
                    </p>
                    
                    <a class="useful-list__area__link" href="{{ site.pathPrefix }}/blog/">
                        Read more
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- /Useful -->

<!-- Communication -->
<section class="communication">
    <div class="container">
        <div class="communication-address">
            <iframe class="communication-address__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2193.006231229497!2d-86.97162238936237!3d34.55870219200619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886286b310b89857%3A0xd64c310e5c380a9a!2sBanfield%20Pet%20Hospital!5e0!3m2!1sen!2sus!4v1638789497459!5m2!1sen!2sus" width="462" height="750" style="border:0;" allowfullscreen="" loading="lazy" title="Banfield Pet Hospital location map"></iframe>
        </div>
        
        <div class="communication-form">
            <h2 class="communication-form__heading main-heading">
                Feedback 
            </h2>
            
            <p class="communication-form__desc main-desc">
                If you have any questions about the work of the clinic or consultations, fill out the form below: 
            </p>
            
            <form class="communication-form__form" action="#" method="POST" novalidate>
                <label for="contact-name" class="visually-hidden">Your name</label>
                <input class="communication-form__form__input" type="text" id="contact-name" name="user_name" placeholder="Enter your name" aria-label="Enter your name" required minlength="2" maxlength="100" autocomplete="name">
                
                <label for="contact-email" class="visually-hidden">Your email</label>
                <input class="communication-form__form__input" type="email" id="contact-email" name="user_email" placeholder="Enter your email" aria-label="Enter your email" required autocomplete="email">
                
                <label for="contact-message" class="visually-hidden">Your message</label>
                <textarea class="communication-form__form__input" id="contact-message" name="user_message" cols="30" rows="10" placeholder="Write your question here..." required minlength="10" maxlength="1000" aria-describedby="message-hint"></textarea>
                <span class="communication-form__form__input-area" id="message-hint">
                    For example: At what age should a pet be vaccinated? 
                </span>
                
                <button class="communication-form__form__btn" type="submit">
                    Send
                </button>
            </form>
        </div>
    </div>
</section>
<!-- /Communication -->
