---
layout: layouts/base.njk
title: Services
pageDescription: Explore our comprehensive veterinary services including diagnostics, surgery, dermatology, and more at Banfield Pet Hospital.
---

<section class="services-hero">
    <div class="container">
        <div class="services-hero__content">
            <h1 class="services-hero__title">Our services</h1>
            <p class="services-hero__text">You can find out information about our services, make an appointment with a doctor or consult by phone, at any time convenient for you.</p>
        </div>
    </div>
</section>

<section class="services-intro">
    <div class="container">
        <ul class="services-intro__list">
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/nashi-uslugi-doctor.svg" alt="Doctor icon">
                    <h3 class="services-intro__title">Preliminary inspection</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__there-link services-intro__link" href="/services-open/">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/nashi-uslugi-xamshira.svg" alt="Nurse icon">
                    <h3 class="services-intro__title">Preliminary inspection</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__two-link services-intro__link" href="/services-open/">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/nashi-uslugi-dog.svg" alt="Dog icon">
                    <h3 class="services-intro__title">Surgical intervention</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__there-link services-intro__link" href="#">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/nashi-uslugi-small__dog.svg" alt="Small dog icon">
                    <h3 class="services-intro__title">Dermatology</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__two-link services-intro__link" href="#">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/nashi-uslugi-mikraskop.svg" alt="Microscope icon">
                    <h3 class="services-intro__title">Laboratory diagnostics</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__there-link services-intro__link" href="#">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/nashi-uslugi-dogs.svg" alt="Dogs icon">
                    <h3 class="services-intro__title">Ophthalmology</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__two-link services-intro__link" href="#">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/uslugi-four.svg" alt="Ultrasound icon">
                    <h3 class="services-intro__title">Ultrasound diagnostics</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__there-link services-intro__link" href="#">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/uslugi-one.svg" alt="Chip icon">
                    <h3 class="services-intro__title">Chipping</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__two-link services-intro__link" href="#">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/uslugi-five.svg" alt="Passport icon">
                    <h3 class="services-intro__title">International passports</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__there-link services-intro__link" href="#">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/uslugi-six.svg" alt="Vaccine icon">
                    <h3 class="services-intro__title">Vaccination</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__two-link services-intro__link" href="#">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/uslugi-seven.svg" alt="Dental icon">
                    <h3 class="services-intro__title">Stomatology</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__there-link services-intro__link" href="#">For more information</a>
                </div>
            </li>
            <li class="services-intro__item">
                <div class="services-intro__content">
                    <img src="/images/uslugi-nine.svg" alt="Home call icon">
                    <h3 class="services-intro__title">Home call</h3>
                    <p class="services-intro__text">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <a class="services-intro__two-link services-intro__link" href="#">For more information</a>
                </div>
            </li>
        </ul>
    </div>
</section>
